In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thoufiq\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\thoufiq\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\thoufiq\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\thoufiq\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\thoufiq\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

# DAtAframe Basic

In [4]:
import pandas as pd

In [5]:
weather_data = {
    'Day':['Saterday','Sunday','Monday','Tuesday'],
    'Temperature':[20,20,30,40],
    'Event':['Rain','Sunny','Sunny','Rain']
}

In [7]:
data=pd.DataFrame(weather_data)

In [11]:
data.head()

        Day  Temperature  Event
0  Saterday           20   Rain
1    Sunday           20  Sunny
2    Monday           30  Sunny
3   Tuesday           40   Rain

In [12]:
data.tail()

        Day  Temperature  Event
0  Saterday           20   Rain
1    Sunday           20  Sunny
2    Monday           30  Sunny
3   Tuesday           40   Rain

In [13]:
data.columns

Index(['Day', 'Temperature', 'Event'], dtype='object')

In [15]:
data.Day

0    Saterday
1      Sunday
2      Monday
3     Tuesday
Name: Day, dtype: object

In [16]:
type(data.Day)

pandas.core.series.Series

In [17]:
data[['Day','Temperature']]

        Day  Temperature
0  Saterday           20
1    Sunday           20
2    Monday           30
3   Tuesday           40

In [18]:
data.Day.max()

'Tuesday'

In [19]:
data[data['Temperature']>32]

       Day  Temperature Event
3  Tuesday           40  Rain

In [20]:
data['Temperature'].std()

9.574271077563381

In [24]:
data['Temperature'].mean()

27.5

In [25]:
data['Temperature'].mode()

0    20
dtype: int64

In [26]:
data.describe()

       Temperature
count     4.000000
mean     27.500000
std       9.574271
min      20.000000
25%      20.000000
50%      25.000000
75%      32.500000
max      40.000000

In [32]:
data.set_index('Day',inplace = True)

In [33]:
data

          Temperature  Event
Day
Saterday           20   Rain
Sunday             20  Sunny
Monday             30  Sunny
Tuesday            40   Rain

In [34]:
data.loc['Monday']

Temperature       30
Event          Sunny
Name: Monday, dtype: object

In [36]:
data.reset_index(inplace = True)

In [37]:
data

        Day  Temperature  Event
0  Saterday           20   Rain
1    Sunday           20  Sunny
2    Monday           30  Sunny
3   Tuesday           40   Rain

In [38]:
data.set_index('Event',inplace=True)

In [39]:
data

            Day  Temperature
Event
Rain   Saterday           20
Sunny    Sunday           20
Sunny    Monday           30
Rain    Tuesday           40

In [43]:
data.reset_index(inplace=True)

In [44]:
data

   Event       Day  Temperature
0   Rain  Saterday           20
1  Sunny    Sunday           20
2  Sunny    Monday           30
3   Rain   Tuesday           40

In [45]:
data.to_csv('weather_data.csv',index = False)

In [46]:
df = pd.read_csv('weather_data.csv')

In [47]:
df

   Event       Day  Temperature
0   Rain  Saterday           20
1  Sunny    Sunday           20
2  Sunny    Monday           30
3   Rain   Tuesday           40