# Objectives

You will be able to:

Identify data types - strings, numbers, bool
Identify data structures - lists, dictionaries
Define use case for different control flow tools - if, for, while

## String methods

.upper()
.lower()
.capitalize()
.title()

In [1]:
name = 'thoufiq zumma'

In [5]:
name.title()

'Thoufiq'

In [6]:
name.upper()

'THOUFIQ'

In [7]:
last_name = 'zumma'

In [8]:
last_name.lower()

'zumma'

In [9]:
var = 'hello'
var1='python'
var2 ='course'

In [10]:
var.capitalize()

'Hello'

In [11]:
name.capitalize()

'Thoufiq'

# Data structures


lists - []
dictionaries - {'key':'value'/value, }
tuple

# List

## list index

In [18]:
top_travel_cities = ['Solta', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']
top_travel_cities

['Solta',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [21]:
new_data= top_travel_cities.pop(5)

In [22]:
new_data

'Iguazu Falls'

In [23]:
new_cities = ['califonia']

In [24]:
top_travel_cities.append(new_cities)

In [25]:
top_travel_cities

['Solta',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Salina Island',
 'Toronto',
 'Pyeongchang',
 ['califonia']]

In [26]:
type(top_travel_cities)

list

In [27]:
top_travel_cities[0:5]

['Solta', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh']

In [28]:

len(top_travel_cities)

9

In [29]:
top_travel_cities[:4]

['Solta', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley']

In [30]:
top_travel_cities[::-2]

[['califonia'], 'Toronto', 'Marakesh', 'Los Cabos', 'Solta']

# List Methods

.pop() - remove last element added
.append() - add element to end of list
.insert() - inserts new element
.remove() - remove element from list
.extend() - extends one list with elements from another

In [31]:
#top_travel_cities.insert()
a = [1, 2, 3]
b = ['one', 'two', 'three']

In [32]:
a.pop()
print(a)

[1, 2]

In [33]:
# .extend() exercise
print('a', a)
print('b', b)
a.extend(b)
print('new a', a)

a [1, 2]
b ['one', 'two', 'three']
new a [1, 2, 'one', 'two', 'three']

In [34]:
a.remove(2)

In [35]:

print(a)

[1, 'one', 'two', 'three']

In [36]:
a.insert(2,5)

In [37]:
print(a)

[1, 'one', 5, 'two', 'three']

In [38]:
c = a + b + [1000,100] + [1]

In [39]:
print(c)

[1, 'one', 5, 'two', 'three', 'one', 'two', 'three', 1000, 100, 1]

In [40]:
a = [[10,11,22],3,4,a]

In [41]:
a

[[10, 11, 22], 3, 4, [1, 'one', 5, 'two', 'three']]

# Dictionaries

You should think of these as key-value pairs (they don't have order). In other languages, these are nearly equivalent to a hash map

In [42]:
d = {'str_key':'str_val', 'other key':1, 10: 5}

In [43]:

# Getting the value via key
d['other key']

1


Safe way of getting a value (what if the key isn't there)

In [44]:
d['not a key'] # Gives error

KeyError: 'not a key'

In [45]:
print(d.get('not a key'))

None

In [46]:
d.get('not a key', 0) # Allows for a default value

0

## Accessing elements of the dictionary

In [47]:
d = {'str_key':'str_val', 'other key':1, 10: 5}

In [48]:
len(d)

3

In [49]:
d.keys()

dict_keys(['str_key', 'other key', 10])

In [50]:
d.values()

dict_values(['str_val', 1, 5])

In [51]:
d.items()

dict_items([('str_key', 'str_val'), ('other key', 1), (10, 5)])

In [52]:

name = input("Enter your name:")
age = int(input("Enter your age:"))
id = input("Enter your id:")

my_input = {"Name:" : name,"Age:":age,"ID:":id}

print(my_input)

Enter your name:zumma
Enter your age:20
Enter your id:1111
{'Name:': 'zumma', 'Age:': 20, 'ID:': '1111'}

# Tuple

In [53]:
roles = ("Admin", "Operator", "User")   
# Or following line will create the same Tuple
# roles = "Admin", "Operator", "User" 

print(roles[0])

Admin

In [59]:
permissions = (("Admin", "Operator", "Customer"), ("Developer", "Tester"), [1, 2, 3], {"Stage": "Development"})

print(permissions[2])

[1, 2, 3]

# Tuple unpacking

In [60]:
numbers = (1, 2, 3)
a, b, c = numbers
print(a)
print(b)
print(c)

1
2
3

In [61]:
name = input("Enter your name:")
age = int(input("Enter your age:"))
id = input("Enter your id:")

my_input = [name, age,id]

print(my_input)
#my_input[2]=256
print(my_input[2])

Enter your name:zumma
Enter your age:20
Enter your id:1212
['zumma', 20, '1212']
1212

# Control Flow

for loop
while loop
if statement

## If Statements

In [62]:
# if statements
if condition_statement:
    output (print_statement, return_statement, operation)
elif:
    output alternate
else:
    output last possibility

SyntaxError: invalid syntax (<ipython-input-62-30fda932ef28>, line 4)

##  Ternary Operator

This can be really useful when you want to shorten your code and make it more readable. These are especially common in list comprehnesions and lambda functions

In [63]:
flag = False
x = 1 if flag else 0

print(x)

0

In [64]:

y = 10
z = 20

x = y if y < z else z

print(x)

10

In [65]:
y = 10 
z = 20
if y < z:
    print('Smaller value')
else:
    print('None')

Smaller value

#  for loop and while loops

for loop - iterate through a set
while loop - iterate through a condition

### for Loops

### These act a little different from other typical languages. In Python, you are always looping over an iterable

### for memeber in a_set:
###    operation

In [66]:
fruits = ["Apple", "Orange", "Pineapple", "Grape"]
# Lets make juice with these fruits

for fruit in fruits:
    print(fruit + " Juice!")

Apple Juice!
Orange Juice!
Pineapple Juice!
Grape Juice!

In [67]:
# start with 5 and ends with 10
for i in range(1, 100):
      print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [68]:
for letter in 'Python': # Here "Python" acts like a list of characters
    print(letter)

P
y
t
h
o
n

# while Loops

##  while loops will keep going until a condition is met or the "brakes are pumped" with a break statement (See next subsection).

# while condition(>,<.>=,<=,==):
#     operation

In [69]:

stop_number = 4
while stop_number > 0:
    print(stop_number)
    stop_number -= 1
print("The stop_number reached", stop_number, "so the while loop's condition became False and stopped execution")

4
3
2
1
The stop_number reached 0 so the while loop's condition became False and stopped execution

#  I want to break free!!!

##  You can add more control in these loops with continue and break. They are usually part of an if-else block to find certain situations

In [70]:
i = 0
while(i<10):
    print(i)
    if i == 5:
        print('Break freee!!!')
        break
    i += 1

0
1
2
3
4
5
Break freee!!!

In [71]:
i = 0
counter = 0
while(i<10):
    i += 1
    counter += 1
    if counter % 2 == 0:
        continue
    # This won't be reached if even
    print(i,'After the continue')

1 After the continue
3 After the continue
5 After the continue
7 After the continue
9 After the continue