# Hello Python

Python is a high level language. It is an interprateable. Useable of python: Data science,Data mining,Web development

In [1]:
print("Thoufiq Zumma")

Thoufiq Zumma

In [2]:
print("Zehad\n 01873967296")

Zehad
 01873967296

In [3]:
print("Zumma \t 01873967296")

Zumma 	 01873967296

In [4]:
print("\"Thoufiq Zumma\"")

"Thoufiq Zumma"

# Basic operator

In [5]:
10+5

15

In [6]:
10-5

5

In [7]:
10*5

50

In [8]:
11/5

2.2

In [9]:
11%5

1

In [10]:
a=5
b=10

In [11]:
print(a+b)

15

In [12]:
print(a-b)

-5

In [13]:
a*b

50

In [23]:
a =10
b=20
c=30
d=20

In [25]:
total = a+b*c/d

In [28]:
print(total)

40.0

# Operators in Python

## Arithmatic operators

Python provides following arithmatic operators-

Addition (+)

Subtraction (-)

Multiplication (*)

Division (/)

Truncating Division (//)

Modulo (%)

Exponentiation (**)

In [41]:
20/6

3.3333333333333335

In [42]:
20//6

3

In [43]:
x = 10
y = 3
result = divmod(x,y)
print(result)

(3, 1)

In [44]:
8 % 2

0

In [45]:
3 ** 2

9

In [46]:
result = pow (3,2)
print(result)

9

# Relational Operators

There are 4 types of relational operators in Python

Less Than (<) 
Greater Than (>) 
Less Than or equal to (<=)
Greater Than (>=) 
Equality (==)
Unequality (!=, <>)

In [47]:
5 ==5

True

In [48]:
5==4

False

In [49]:
1<=0

False

In [50]:
1 !=2

True

In [51]:
8>=10

False

# Logical Operators

Logical AND - and

Logical OR - or

Logical NOT - not

In [52]:
True and False

False

In [53]:
10 and 5

5

In [54]:
10 or 8

10

In [55]:
True or False

True

In [56]:
not False

True

# Membership Operators

in python, in and not in act as membership operators. For example let's say we have a collection of values, (array or list)

In [57]:
a = [1,2,3,4,5,6,7]
print(2 in a)
print(4 in a)
print(4 not in a)

True
True
False

The first statement prints false because 2 is present in a and thus it is a member of a, but this is not the case with 4

# indentiy Operators

is' and 'is not'

'is' Evaluates to true if the variables on either side of the operator point to the same object and false otherwise

In [58]:
x = 5
y = x

In [59]:
x is y

True

In [ ]:
a = 'python'
b = 'python'

In [60]:
a is b

False

In [61]:
id(a)

2738211067208

It means python doesn't create other object unless it differs in value

# Operator Precedence

Exponentiation (raise to the power) (**)

Complement, unary plus and minus (method names for the last two are +@ and -@) (~ + -)

Multiply, divide, modulo and floor division (* / % //)

Addition and subtraction (+ -)

Right and left bitwise shift (>> <<)

Bitwise 'AND' (&)

Bitwise exclusive 'OR' and regular 'OR' (^, |)

Comparison operators (<= < > >=)

Equality operators (<> == !=)

Assignment operators (= %= /= //= -= += *= **=)

Identity operators (is is not)

Membership operators (in not in)

Logical operators (not or and)

## squre

In [15]:
a=2
b=3

In [16]:
print (a**b)

8

In [18]:
9//3

3

## INPUT

In [29]:
a = input ('Enter the number:')
b = input ('Enter the number:')
c = input ('Enter the number:')
d = input ('Enter the number:')

Enter the number:10
Enter the number:20
Enter the number:30
Enter the number:40

In [30]:
type(a)

str

In [31]:
a = 'Hello'
b = 'Thoufiq'

In [32]:
print("Result:",a.upper(),b.lower())

Result: HELLO thoufiq

In [33]:
a = input ('Enter the number:')
b = input ('Enter the number:')
c = input ('Enter the number:')
d = input ('Enter the number:')

Enter the number:10
Enter the number:20
Enter the number:30
Enter the number:40

In [34]:
A = int(a)
B = int(b)
C = int(c)
D = int(d)

In [35]:
type(A)
type(B)
type(C)
type(D)

int

In [36]:
M = A+B*C-D

In [37]:
M

570

In [38]:
str(M)

'570'

In [39]:
float(M)

570.0

# Conditionals in Python

If Statement
In python the syntax for if statement is - if expression: statements under if block statement outside if block

In [62]:
x = 5
if x==6:
    print('x is equal to 5')
else:
    print('x is not 5')

x is not 5

In [63]:
x = 5
if x == 6:
    print('x is equal to 6')
elif x == 5:
    print('x is equal to 5')
else:
    print('x is not 5')

x is equal to 5

In [64]:
x =2

if x == 1:
    print('x is 1')
elif x == 2:
    print('x is 2')
elif x ==3:
    print('x is 3')
else :
    print ('x is not 1 nor 2 nor 3')

x is 2

## nested if -else

In [65]:
x = 8
if x <= 1:
    if x <= 5:
        print('x is between 1 and 5')
    else:
        print('x is not between 1 and 5')
else: 
    print('Error')

Error

In [66]:
a = 100
b = 200

if a>=100 and a<200:
    print(b)
else: 
    print('Error')

200

In [67]:
a = 100
b = 200 if (a >= 100 and a < 200) else 'Error'

In [68]:
print(b)

200

In [69]:
for i in range(10):
    print(i)
else:
    print('Done')

0
1
2
3
4
5
6
7
8
9
Done